.styleForm {
    width: 500px;
    margin: 10px;
    border: 4px solid;
    border-radius: 10px;
    padding: 20px;
    background-color:cornflowerblue;
  }

  .styleForm label {
    display: inline;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .styleForm input[type="text"],
  .styleForm textarea,
  .styleForm input[type="number"],
  .styleForm input[type="submit"] {
    width: 100%;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
  }

  .styleForm input[type="submit"] {
    display: block;
    margin: 10px auto;
    padding-top: 10px;
  }

  .chat-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }

  .chat-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .chat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .chat-messages {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }

  .containerCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.containerProd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
}

.row {
  display: flex;
}

.product {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}

.row.product {
  justify-content: space-evenly;
}
.title__productspage {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.title__cartpage {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.title__cartpage {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.table__cart {
  width: 100%;
  border-collapse: collapse;
}

.table__cart th,
.table__cart td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table__cart th {
  font-weight: bold;
}

.empty-cart-message {
  color: #666;
  font-style: italic;
}

/* STYLE REGISTER */

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.register-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.register-form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.register-input-group {
  margin-bottom: 20px;
}

.register-input-wrapper {
  margin-bottom: 10px;
}

.register-input-wrapper label {
  font-size: 14px;
  color: #333;
}

.register-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-submit {
  display: flex;
  justify-content: center;
}

.register-submit-btn {
  padding: 10px 20px;
  background-color: #ff5722;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-submit-btn:hover {
  background-color: #f44336;
}

/* STYLE LOGIN */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.login-form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-input-group {
  margin-bottom: 20px;
}

.login-input-wrapper {
  margin-bottom: 10px;
}

.login-input-wrapper label {
  font-size: 14px;
  color: #333;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-submit {
  display: flex;
  justify-content: center;
}

.login-submit-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-submit-btn:hover {
  background-color: #45a049;
}


/* STYLE HOME */

nav {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.dashboard-container {
  max-width: 600px;
  margin: 0 auto;
}

.dashboard-container img {
  width: 70px;
  max-height: max-content;
  margin-bottom: 10px;
}

.dashboard-container .welcome-message {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.dashboard-container .profile-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.dashboard-container .profile-details {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 10px;
}

.dashboard-container .profile-details p {
  margin-bottom: 5px;
  color: #333;
}

.dashboard-container .logout-btn {
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.dashboard-container .logout-btn:hover {
  background-color: #d32f2f;
}

.dashboard-container .guest-message {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.dashboard-container .sign-in-link,
.dashboard-container .register-link {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dashboard-container .sign-in-link:hover,
.dashboard-container .register-link:hover {
  background-color: #f5f5f5;
}

.dashboard-container .register-link {
  background-color: #4caf50;
  color: #fff;
}

.dashboard-container .register-link:hover {
  background-color: #45a049;
}

/* ???? */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.login__general__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo de la navbar ------------------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(56, 110, 141);
  padding: 10px;
  color: black;
}

.navbar__logo {
  margin-right: 10px;
}

.navbar__content {
  display: flex;
  align-items: center;
  font-family: "Your Fun Font", cursive;
  font-size: 14px;
  color: black;
}

.navbar__button {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

.navbar__button:hover {
  background-color: darkred;
}

.navbar__logout-btn {
  margin-left: 20px;
}

.navbar__link {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

